.customcardshadow {
  box-shadow: 0 0 17px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}
.customcardshadow img {
  transition: all 0.5s ease;
}
.customcardshadow:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
